body{
    background-color: #fef1df ;
}


.navbar{
    list-style-type: none;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.CV{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    display: flex;
    border: solid 2px rgb(160, 158, 158);
    width: 60%;
    margin-left: 20%;
}

.gauche{
    display: list-item;
    border-right: solid 1px rgb(197, 194, 194);
}

.droite{
    display: list-item;
}

.photo{
    height: 250px;
}

.contact{
    border-bottom: solid 1px rgb(197, 194, 194);
}

.skills{
    border-bottom: solid 1px rgb(197, 194, 194);
}

.formations{
    border-bottom: solid 1px rgb(197, 194, 194);
}

.personnalite{
    border-bottom: solid 1px rgb(197, 194, 194);
}

.presentation{
    border-bottom: solid 1px rgb(197, 194, 194);
    list-style-type: none;
    line-height: 17px;
    padding-top: 0;
    height: 250px;
}

.i{
    width:500px;
    align-content: right;
}

.profil{
    border-bottom: solid 1px rgb(197, 194, 194);
    height: 179px;
}